<body>
  <form action="/add" method="post" id="form">
    <div style="margin: auto; width: 50vw">
      <h3 style="text-align: center">Шинэ ном нэмэх</h3>

      <label for="isbn" class="form-label">Isbn</label>
      <input type="number" class="form-control mb-2" name="isbn" required />
      <label for="title">Title</label>
      <input type="text" class="form-control mb-2" name="title" required />
      <label for="subtitle">Subtitle</label>
      <input type="text" class="form-control mb-2" name="subtitle" required />
      <label for="author">Author</label>
      <input type="text" class="form-control mb-2" name="author" required />
      <label for="published">Published</label>
      <input type="date" class="form-control mb-2" name="published" required />
      <label for="publisher">Publisher</label>
      <input type="text" class="form-control mb-2" name="publisher" required />
      <label for="pages">Pages</label>
      <input type="number" class="form-control mb-2" name="pages" required />
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control mb-2"
        name="description"
        required
      />
      <label for="website">Website</label>
      <input type="text" class="form-control mb-2" name="website" required />

      <button type="submit" class="btn btn-primary w-100 mt-2">Нэмэх</button>
    </div>
  </form>
</body>
