<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/add/book" method="post" id="form">
      <div style="margin: auto; width: 50vw">
        <h3 style="text-align: center">Шинэ ном нэмэх</h3>
        <label for="isbn">Isbn</label>
        <input
          type="text"
          style="display: block; width: 100%; margin-bottom: 20px"
          name="isbn"
        />
        <label for="title">Title</label>
        <input
          type="text"
          style="display: block; width: 100%; margin-bottom: 20px"
          name="title"
        />
        <label for="subtitle">Title</label>
        <input
          type="text"
          style="display: block; width: 100%; margin-bottom: 20px"
          name="subtitle"
        />
        <label for="author">Title</label>
        <input
          type="text"
          style="display: block; width: 100%; margin-bottom: 20px"
          name="author"
        />
        <label for="published">Title</label>
        <input
          type="text"
          style="display: block; width: 100%; margin-bottom: 20px"
          name="published"
        />
        <label for="publisher">Title</label>
        <input
          type="text"
          style="display: block; width: 100%; margin-bottom: 20px"
          name="publisher"
        />
        <label for="pages">Title</label>
        <input
          type="text"
          style="display: block; width: 100%; margin-bottom: 20px"
          name="pages"
        />
        <label for="description">Title</label>
        <input
          type="text"
          style="display: block; width: 100%; margin-bottom: 20px"
          name="description"
        />
        <label for="website">Title</label>
        <input
          type="text"
          style="display: block; width: 100%; margin-bottom: 20px"
          name="website"
        />

        <button
          type="submit"
          style="
            width: 100%;
            background-color: green;
            border: none;
            border-radius: 10px;
            height: 30px;
            color: white;
          "
        >
          Нэмэх
        </button>
      </div>
    </form>
  </body>
</html>
