<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="POST">
      <div style="margin: auto; width: 50vw">
        <h3 style="text-align: center">Шинэ ном нэмэх</h3>
        <input
          type="text"
          style="display: block; width: 100%; margin-bottom: 20px"
        />
        <input
          type="text"
          style="display: block; width: 100%; margin-bottom: 20px"
        />
        <input
          type="text"
          style="display: block; width: 100%; margin-bottom: 20px"
        />
        <button
          type="submit"
          style="
            width: 100%;
            background-color: green;
            border: none;
            border-radius: 10px;
            height: 30px;
            color: white;
          "
        >
          Нэмэх
        </button>
      </div>
    </form>
  </body>
</html>
