<body>
  <div class="bg-warning text-center p-4">
    <img src="<%= maxPage.img %> " alt="" width="100vw" />
    <h3><%= maxPage.title %></h3>
    <div class="d-flex justify-content-around container">
      <p><strong><%= maxPage.pages %></strong></p>
    </div>
  </div>
</body>
