<body>
  <div class="bg-warning text-center p-4">
    <img src="<%= minPage.img %> " alt="" width="100vw" />
    <h3><%= minPage.title %></h3>
    <div class="d-flex justify-content-around container">
      <p><strong><%= minPage.pages %></strong></p>
    </div>
  </div>
</body>
