<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/allbook.css" />
    <title>Document</title>
  </head>
  <body id="body">
    <form action="/deletebook" method="post" class="form">
      <div class="form-example">
        <label for="name">Enter your isbn: </label>
        <input type="text" class="input" name="isbn" id="name" required />
        <button>submit</button>
      </div>
    </form>
  </body>
</html>
