<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <button onclick="location.href='http://localhost:3000/books/'" class="button">Back to Home</button>
    <div class="gadna">
      
      <%data.forEach((date)=>{%>
      <div class="card">
        <div class="container">
          <h4>Title : <b><%= date.title %></b></h4>
          <p>Publisher : <%= date.publisher %></p>
        </div>
      </div>
      <%});%>
    </div>
  </body>
</html>
