.book-name {
  text-align: center;
  margin-top: 30px;
}
.book-info {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  align-items: center;
  border: solid 1px;
  background-color: azure;
}
.title,
.number,
.desc,
.author {
  font-weight: 700;
}
.book-add {
  min-width: 300px;
  background-color: bisque;
  border: none;
  border-radius: 10px;
  min-height: 30px;
}
.content-button {
  text-align: center;
}
.nemeh {
  display: flex;
  flex-direction: column;
}
.btn-main {
  width: 200px;
  text-align: center;
  background-color: rgb(242, 183, 21);
  border: none;
  height: 30px;
  border-radius: 10px;
}
.form-section {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#add-title {
  text-align: center;
}
.btn-submit-add {
  margin-top: 30px;
  background-color: bisque;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.nemeh label {
  font-weight: 600;
  margin-top: 10px;
}
.nemeh input {
  margin-top: 5px;
  height: 20px;
}
.header {
  text-align: center;
  border: none;
  margin-top: 10px;
}
.header button {
  border: none;
  background-color: rgb(242, 183, 21);
  border-radius: 10px;
}
.date-section {
  padding-left: 50px;
}
