<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    #form {
      width: 100%;
      margin-bottom: 10px;
    }
  </style>
  <body>
    <form action="/form" method="POST">
      <label for="fname">isbn</label>
      <input type="number" id="form" name="isbn" placeholder="isbn" />
      <label for="fname">title</label>
      <input type="text" id="form" name="title" placeholder="title" />
      <label for="fname">author</label>
      <input type="text" id="form" name="author" placeholder="author" />
      <label for="fname">pages</label>
      <input type="number" id="form" name="pages" placeholder="pages" />
      <button>submit</button>
    </form>
  </body>
</html>
