<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
      .box-width {
        display: flex;
        width: 120px;
        height: 150px;
        border: 1px solid black;
        margin: 20px;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div>
      <p><%=dataa.isbn%></p>
      <div class="box">
        <%data.forEach((item)=>{ %>
        <button class="box-width">
          <div>
            <p><%=item.title%></p>
            <p><%=item.pages%></p>
          </div>
        </button>
        <% });%>
      </div>
    </div>
  </body>
</html>
