<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>RAMDOM BOOK</h1>
    <div>
      <%randomBook1.forEach((item)=>{ %>
      <p><%=item%></p>
      <% });%>
    </div>
    <h1>AUTHOR</h1>
    <div>
      <%author.forEach((item)=>{ %>
      <p><%=item%></p>
      <% });%>
    </div>
    <h1>PUBLISHED</h1>
    <div>
      <%publishedDay.forEach((item)=>{ %>
      <p><%=item%></p>
      <% });%>
    </div>
  </body>
</html>
