.input  {
  width: 20vw;
  /* margin: 20px 0px 20px 0px; */
}
.form-example label{
  padding: 5px 0px 10px 0px;
  font-size: large;
}
.form-example {
  width: 20vw;
  /* height: 5vh; */
  display: flex;
  flex-direction: column;

}
.form-submit{
  padding: 5px 0px 10px 0px;
  width: 20%;
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.form-example input {
  font-size: xx-large;
}
.button{
  border: none;
}
.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  /* background-color: #f1f1f1; */
  margin: 20px 0px 20px 0px;
}
