<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div
      class="d-flex justify-content-between w-100 container"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav d-flex justify-content-between w-100">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sortbydate">Older First</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/authors">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allbooks">All books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/authors">By ISBN</a>
        </li>
        <form class="d-flex justify-content-between">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search by title"
            aria-label="Search"
          />
        </form>
        <li class="nav-item">
          <a class="nav-link" href="/authors">Max Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/authors">Min Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/authors">Publishers</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
