<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div
      class="d-flex justify-content-between w-100 container"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav d-flex justify-content-between w-100">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books/sortbydate">Older First</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/authors">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books/allbooks">All books</a>
        </li>
        <form
          class="d-flex justify-content-between"
          action="/books/isbn/"
          method="get"
        >
          <select name="" id="">
            <option value="">9781593279509</option>
            <option value="">9781491943533</option>
            <option value="">9781593277574</option>
            <option value="">9781449365035</option>
            <option value="">9781449331818</option>
            <option value="">9798602477429</option>
            <option value="">9781484200766</option>
            <option value="">9781484242216</option>
          </select>
        </form>
        <form class="d-flex justify-content-between">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search by title"
            aria-label="Search"
          />
        </form>
        <li class="nav-item">
          <a class="nav-link" href="/books/maxpage">Max Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books/minpage">Min Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books/publishers">Publishers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add">Add New Book</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
